/* global */

html {
    font-size: 18px;
    line-height: 1.4;
}

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
}

.container {
    margin: auto;
    max-width: 960px;
}

.flex {
    display: flex;
}

/* header banner */
header {
    background-image: url("../images/glasses-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    padding-top: 1rem;
}

header .flex {
    justify-content: flex-end;
}

/* nav menu */
nav {
    align-items: center;
    color: white;
    background-color: cadetblue;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 1rem 0;
}

nav img {
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    width: auto;
}

#navigation {
    align-items: center;
    display: flex;  
}

#navigation ul {
    margin-right: 1rem;
}

#navigation li {
    display: inline;
    list-style: none;
    padding: 0 1rem;
}

/* slogan box */
#slogan {
    background-color: white;
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    margin-right: -2rem;
    margin-top: 10rem;
    padding: 1.5rem 5rem;
}

/* services */
#services {
    padding: 3rem 0;
}

#services .flex {
    justify-content: center;
}

.service-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-between;
    margin: 0 3rem;
    text-align: center;
    width: 5rem;
}

.service-box img {
    width: 3.5rem;
}

/* info section */
#info {
    margin-bottom: 5rem;
}

#info .flex {
    justify-content: center;
}

.info-box {
    width: 35%;
}

.info-header {
    background-color: cadetblue;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.5rem 1.25rem;
}

#spacebetween {
    width: 5%;
}

/* footer/copyright */
footer .container {
    background-color: azure;
    padding: 4rem;
}

footer .flex {
    align-items: center;
}

footer img {
    height: 1.5rem;
    margin-right: 1rem;
}
